alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project==0.8.3
anyascii==0.3.0
apache-libcloud==3.4.1
applaunchservices==0.2.1
argh==0.26.2
arpy==2.2.0
astropy==4.0.2
async-generator==1.10
atomicwrites==1.4.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bkcharts==0.2
boto==2.49.0
boto3==1.20.21
botocore==1.23.21
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent==1.2.2
conda==4.10.3
conda-build==3.20.5
conda-verify==3.4.2
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
depot==0.0.12
docopt==0.6.2
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filedepot==0.8.0
filelock==3.0.12
Flask==1.1.2
future==0.18.2
glob2==0.7
gmpy2==2.0.8
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.2.1
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
h5py==2.10.0
HeapDict==1.0.1
httplib2==0.20.2

imageio-ffmpeg==0.4.5
imagesize==1.2.0

ipython-genutils==0.2.0

itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
json5==0.9.5
jupyter==1.0.0
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
moviepy==1.0.3
mpmath==1.1.0
msgpack==1.0.0
multipledispatch==0.6.0
navigator-updater==0.2.1
numexpr==2.7.1
oauth2client==4.1.3
oauthlib==3.1.1
olefile==0.46
packaging==20.4
pandas == 1.0.3
parso==0.7.0
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
proglog==0.1.9
prometheus-client==0.8.0
protobuf==3.19.1
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.6
PyDrive==1.3.1
pydub==0.25.1
pyflakes==2.2.0
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
pytest==0.0.0
python-dateutil==2.8.1
python-gnupg==0.4.8
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
requests-oauthlib==1.3.0
rsa==4.8
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.5.0
scikit-image==0.17.2
Send2Trash==1.5.0
simplegeneric==0.8.1
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tables==3.6.1
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
tifffile==2020.10.1
tornado==6.0.4
unicodecsv==0.14.1
uritemplate==4.1.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xlrd==1.2.0
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
youtube-dl==2021.6.6
youtube-transcript-api==0.4.2
zict==2.0.0
zope.event==4.5.0
